{% extends 'settings.html' %}
{% load formulation %}

{% block content %}

  <h2>Verify Minecraft username</h2>

  {% form 'forms/foundation.html' form %}
  <form method="post">
    {% csrf_token %}

    <div id="verification-step-1">
      <div class="row">
        <div class="small-3 columns">
          <label class="right">Minecraft username:</label>
        </div>
        <div class="small-9 columns">
          {{ user.username }} (<a href="{% url 'accounts:user_update' %}">change</a>)
        </div>
      </div>
      <div class="row">
        <div class="small-push-3 small-9 columns">
          <p>Login to thefar.land Minecraft server using your username above.</p>
          <p>Clicking the button below will send you a 6-digit code in the game.</p>
          <button class="small button" id="send-verification"
                  data-url="{% url 'accounts:get_verify_token' %}" data-csrf="{{ csrf_token }}">
            Send verification code now
          </button>
        </div>
      </div>
    </div>

    <div id="verification-step-2" class="{% if not form.errors %}hidden{% endif %}">
      <div class="row">
        <div class="small-push-3 small-9 columns">
          <p>We sent a verification code to {{ user.username }} on thefar.land Minecraft server.</p>
        </div>
      </div>
      {% field form.verification_code %}
      {% use 'Submit' label='Continue' %}
    </div>
  </form>
  {% endform %}

{% endblock %}
