{% extends "base.html" %}

{% block content %}

  <h2>Discussion board</h2>

  <div class="row">
    <div class="small-8 columns">
      <strong>Board</strong>
    </div>
    <div class="small-2 columns">
      <strong>Threads</strong>
    </div>
    <div class="small-2 columns">
      <strong>Posts</strong>
    </div>
  </div>
  {% for board in boards %}
    <div class="row">
      <div class="small-8 columns">
        <a href="{{ board.get_absolute_url }}">{{ board }}</a>
      </div>
      <div class="small-2 columns">
        {{ board.thread_count }}
      </div>
      <div class="small-2 columns">
        {{ board.post_count }}
      </div>
    </div>
  {% endfor %}

{% endblock %}
