{% extends "base.html" %}
{% load markdown_deux_tags board_tags %}

{% block content %}

  <h2>
    {{ thread }}
    <small>
      <a href="{{ thread.board.get_absolute_url }}">
        {{ thread.board }}
      </a>
    </small>
  </h2>

  {% for post in posts %}
    <div class="row list thread post" id="post-{{ post.id }}">
      <div class="small-3 columns">
        {% if post.user.is_verified %}
          <img class="left" src="{{ post.user.get_avatar_url }}" width="64" height="64">
        {% endif %}
        <p>
          {{ post.user }}
          {% if post.user.is_trusted %}
            <i class="fa fa-check" title="Trusted user"></i>
          {% endif %}
        </p>
        <p class="post-created">
          <i class="fa fa-clock-o"></i>
          <time title="{{ post.created|date:'c' }}"
                datetime="{{ post.created|date:'c' }}">
            {{ post.created|timesince }} ago
          </time>
        </p>
      </div>
      <div class="small-9 columns">
        {% if user|can_update:post %}
        <div class="post-action">
          <a href="{% url 'boards:post_update' thread=thread.slug pk=post.pk %}"
             title="Edit post" class="tiny secondary button">
            <i class="fa fa-pencil"></i>
          </a>
        </div>
        {% endif %}

        {{ post.contents|markdown }}

        {% if post.is_modified %}
        <small>
          Post was edited {{ post.latest_history.created|timesince }} ago
          by {{ post.latest_history.user }}.
          {% if post.latest_history.reason %}
            Reason: {{ post.latest_history.reason }}
          {% endif %}
          {% if perms.bords.view_history %}
            <a href="{% url 'boards:post_history' pk=post.pk %}">View changes.</a>
          {% endif %}
        </small>
        {% endif %}
      </div>
    </div>
  {% empty %}
    <strong>Shoot, nothing to see here.</strong>
  {% endfor %}

  {% if is_paginated %}
    {% include '_pagination.html' with page_obj=page_obj previous='Previous' next='Next' %}
  {% endif %}

  {% if thread.is_locked %}
    <span class="button small disabled">Thread is locked</a>
  {% endif %}

  {% if view.user_can_post %}
    <a href="{{ thread.get_post_url }}" class="button small">New reply</a>
  {% endif %}

{% endblock %}
