html, body {
    font: normal 300 18px/1.64 'Open Sans', sans-serif;
    color: #444;
}
h1, h2, strong { font-weight: 700; }

textarea {
    height: 100px;
    min-height: 100px;
    max-height: 500px;
    resize: vertical;
}

.alert-box .button {
    margin-bottom: 0;
}

.user-nav {
    position: absolute;
    top: 0;
    right: 0;
    height: 58px;
    background: #f0f0f0;
    margin: 5px 0 0 0;
    padding: 5px;
    font-size: .85em;
}
.user-avatar {
    float: left;
    margin: 0 5px 0 0;
}
.user-logout {
    opacity: 0.7;
}
