{% extends "base.html" %}

{% block content %}

  <h2>Contact us</h2>

  <p>Do you have a question for us or want to dispute your ban? Go ahead!</p>

  <p>To ask Reikoartz a.k.a. Angelo a question, send an email to angelo@thefar.land</p>
  <p>Drop a line at julian@thefar.land to have your question answered by hadroncollider a.k.a. Julian.</p>

  <h3><abbr title="Frequently Asked Questions">F.A.Q.</abbr></h3>
  <dl>
    <dt>Is it really 100% Vanilla Minecraft?</dt>
    <dd>Yes, utterly and completely.</dd>

    <dt>.. but how do you do <em>X</em> then?</dt>
    <dd>Command blocks and <code>/scoreboard</code> magic.</dd>

    <dt>Is <em>X</em> allowed on this server?</dt>
    <dd>Read the rules at the spawn temple and use your brain to figure it out.</dd>

    <dt>Can I swear on this server?</dt>
    <dd>Yes, you fucking can swear.</dd>

    <dt>This website sucks.</dt>
    <dd>That's not a question and we're working on it.</dd>
    <dd>In the meantime, check out the screenshots linked above.</dd>
  </dl>

{% endblock %}
